<div class="count-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
                <div class="row">
                    {% include 'front/addons/flashMessages.html.twig' %}
                    <div class="fb-comments" data-href="siteUrl" data-width="1100" data-numposts="50"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{#TODO add siteURL from env#}
